---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<div class="flex flex-wrap gap-2">
  {tags.map(tag => (
    <a
      href={`${import.meta.env.BASE_URL}tags/${tag}/`}
      aria-label={`标签 ${tag}`}
      class="px-4 py-1.5 rounded-full bg-bg-secondary text-sm font-medium text-text-secondary hover:bg-accent hover:text-white transition-colors duration-200"
    >
      #{tag}
    </a>
  ))}
</div>
